spring:
  application:
    name: media-worker
  profiles:
    active: local

server:
  port: ${MEDIA_WORKER_PORT:8081}

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{requestId:-}] %logger{36} - %msg%n"
