spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:asn-postgres}:${DB_PORT:5432}/${DB_NAME:asn}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false

  data:
    redis:
      host: ${REDIS_HOST:asn-redis}
      port: 6379

app:
  kafka:
    topics:
      mediaTranscode: ${KAFKA_TOPIC_MEDIA_TRANSCODE:media.transcode.requested}

logging:
  level:
    org.hibernate.SQL: info
