spring:
  application:
    name: media-worker
  profiles:
    active: local

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_ID:media-worker}
      auto-offset-reset: ${KAFKA_AUTO_OFFSET_RESET:earliest}
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        # 역직렬화 시 헤더의 클래스 정보를 무시하고 아래 클래스로 매핑
        spring.json.value.default.type: "com.ott.media.modules.transcode.dto.VideoTranscodeRequestedEvent" # 실제 경로로 수정
        # 헤더에 담긴 타입 정보를 신뢰하지 않도록 설정
        spring.json.use.type.headers: false

    listener:
      ack-mode: manual

server:
  port: ${MEDIA_WORKER_PORT:8081}

aws:
  region: ${AWS_REGION}
  s3:
    source-bucket: ${S3_BUCKET}
  presign:
    put-ttl-seconds: 1200
