name: CD

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy-core-api:
    uses: ./.github/workflows/_reusable_deploy_service.yml
    with:
      app_name: apps:core-api
      ecr_repo: asn/core-api
      service_name: core-api-service-7s9tx6ks
      dockerfile: deployments/docker/core-api.Dockerfile
      taskdef_tpl: infra/ecs/taskdef-core-api.json.tpl
      taskdef_out: infra/ecs/taskdef-core-api.rendered.json
      image_tag: ${{ github.ref_name }}
      container_image_env_key: CORE_API_IMAGE_URI
    secrets: inherit

  deploy-media-worker:
    uses: ./.github/workflows/_reusable_deploy_service.yml
    with:
      app_name: apps:media-worker
      ecr_repo: asn/media-worker
      service_name: media-worker-service-lxkbkrg7
      dockerfile: deployments/docker/media-worker.Dockerfile
      taskdef_tpl: infra/ecs/taskdef-media-worker.json.tpl
      taskdef_out: infra/ecs/taskdef-media-worker.rendered.json
      image_tag: ${{ github.ref_name }}
      container_image_env_key: MEDIA_WORKER_IMAGE_URI
    secrets: inherit

  deploy-batch-analytics:
    uses: ./.github/workflows/_reusable_deploy_batch_schedule.yml
    with:
      app_name: apps:batch-analytics
      ecr_repo: asn/batch-analytics
      dockerfile: deployments/docker/batch-analytics.Dockerfile
      taskdef_tpl: infra/ecs/taskdef-batch-analytics.json.tpl
      taskdef_out: infra/ecs/taskdef-batch-analytics.rendered.json
      image_tag: ${{ github.ref_name }}
      schedule_group: default
      schedule_name: batch-analytics-daily
    secrets: inherit