spring:
  application:
    name: core-api
  profiles:
    active: local
  jpa:
    open-in-view: false

server:
  port: ${CORE_API_PORT:8080}

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{requestId:-}] %logger{36} - %msg%n"

aws:
  region: ap-northeast-2
  s3:
    source-bucket: sinna-bucket
  presign:
    put-ttl-seconds: 1200
